{{ define "admin/manager/index.html" }}
{{ template "admin/public/page_header.html" .}}
<!--
    列表展示
-->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="th">
                <th>管理員名稱</th>
                <th>管理員電話</th>
                <th>管理員郵箱</th>
                <th>管理員角色</th>
                <th>創建時間</th>

                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {{range $key,$value := .managerList}}
            <tr>
                <td>{{$value.Username}}</td>
                <td>{{$value.Mobile}}</td>
                <td>{{$value.Email}}</td>
                <td>{{$value.Role.Title}}</td>
                <td>{{$value.AddTime | UnixToTime}}</td>

                <td class="text-center">
                    <a href="/admin/manager/edit?id={{$value.Id}}">修改</a>
                    <a class="delete" href="/admin/manager/delete?id={{$value.Id}}">刪除</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
</body>

</html>
{{ end }}