{{ define "admin/focus/index.html" }}
{{ template "admin/public/page_header.html" .}}
<!--
    列表展示
-->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="th">
                <th>輪播圖名稱</th>
                <th>輪播圖類型</th>
                <th>輪播圖圖片</th>
                <th>跳轉地址</th>
                <th class="text-center">排序</th>
                <th class="text-center">狀態</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {{range $key,$value := .focusList}}
            <tr>
                <td>{{$value.Title}}</td>
                <td>{{if eq $value.FocusType 1}}
                    網站
                    {{else if eq $value.FocusType 2}}
                    App
                    {{else}}
                    小程序
                    {{end}}
                </td>
                <td>
                    {{if ne $value.FocusImg ""}}
                    <img src="/{{$value.FocusImg}}" width="200">
                    {{end}}
                </td>
                <td>{{$value.Link}}</td>
                <td class="text-center">
                    <span class="chSpanNum" data-id="{{$value.Id}}" data-table="focus" data-field="sort" data-num="{{$value.Sort}}">
                        {{$value.Sort}}
                    </span>
                </td>
                <td align="center">
                    {{if eq $value.Status 1}}
                    <img class="chStatus" data-id="{{$value.Id}}" data-table="focus" data-field="status" src="/static/admin/images/yes.gif" alt="">
                    {{else}}
                    <img class="chStatus" data-id="{{$value.Id}}" data-table="focus" data-field="status" src="/static/admin/images/no.gif" alt="">
                    {{end}}
                </td>

                <td class="text-center">
                    <a href="/admin/focus/edit?id={{$value.Id}}" />修改</a>
                    <a class="delete" href="/admin/focus/delete?id={{$value.Id}}">删除</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
</body>

</html>
{{ end }}