{{ define "admin/goodsCate/add.html" }}
{{ template "admin/public/page_header.html" .}}


<div class="container-fluid">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                增加分類
            </div>
            <div class="panel-body">
                <div class="table-responsive input-form">
                    <form action="/admin/goodsCate/doAdd" method="post" enctype="multipart/form-data">
                        <ul>

                            <li> <span>分類名稱:</span> <input type="text" name="title" class="input" /></li>

                            <li> <span>上級分類:</span>
                                <select name="pid" id="pid">
                                    <option value="0">頂級分類</option>

                                    {{range $key,$value := .goodsCateList}}
                                    <option value="{{$value.Id}}">{{$value.Title}}</option>
                                    {{end}}
                                </select>
                            </li>

                            <li> <span>分類圖片:</span> <input type="file" name="cate_img" /></li>

                            <li> <span>跳轉地址:</span> <input type="text" name="link" class="input" /></li>

                            <li> <span>分類模板:</span> <input type="text" name="template"
                                    class="input" /><span>空表示預設模板</span></li>

                            <li> <span>SEO標題:</span> <input type="text" name="sub_title" class="input" /></li>

                            <li> <span>SEO關鍵詞: </span><input type="text" name="keywords" class="input" /></li>

                            <li> <span>SEO描述:</span> <textarea name="description" id="description" cols="84"
                                    rows="4"></textarea></li>

                            <li> <span>排　　序:</span> <input type="text" name="sort" value="10" /></li>

                            <li> <span>狀　　態:</span>
                                <input type="radio" name="status" checked value="1" id="a" /> <label for="a">顯示</label>
                                <input type="radio" name="status" value="0" id="b" /><label for="b">隱藏</label>

                            </li>



                            <li>
                                <br />
                                <button type="submit" class="btn btn-primary">提交</button>
                            </li>

                        </ul>


                    </form>
                </div>
            </div>


        </div>

    </div>
</div>

</body>

</html>
{{end}}