{{ define "admin/role/index.html" }}
{{ template "admin/public/page_header.html" .}}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="th">
                <th>角色名稱</th>
                <th>角色描述</th>
                <th>角色狀態</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {{range $key, $value := .roleList}}
            <tr>
                <td>{{$value.Title}}</td>
                <td>{{$value.Description}}</td>
                <td>{{$value.Status}}</td>

                <td class="text-center">
                    <a href="/admin/role/edit?id={{$value.Id}}">修改</a>
                    <a class="delete" href="/admin/role/delete?id={{$value.Id}}">刪除</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
</body>

</html>
{{ end }}